{% extends "login/base.html" %}
{% load static %}
{% load addattr %}

{% block content %}

	<form class="login100-form validate-form flex-sb flex-w" method="POST">
		{% csrf_token %}

		<span class="login100-form-title p-b-53">
			Sign Up With
		</span>

		<a href="#" class="btn-face m-b-20">
			<i class="fa fa-facebook-official"></i>
			Facebook
		</a>

		<a href="#" class="btn-google m-b-20">
			<img src="{% static 'login/images/icons/icon-google.png' %}" alt="GOOGLE">
			Google
		</a>

		{% for field in form %}
			<div class="p-t-13 p-b-9">
				<span class="txt1">
					{{ field.label_tag }}
				</span>
			</div>

			<div class="wrap-input100 validate-input" data-validate="Required">
				{{ field | addattr:"input100" }}
				<span class="focus-input100"></span>
			</div>
		{% endfor %}

		<div class="container-login100-form-btn m-t-17">
			<button class="login100-form-btn" type="submit">
				Sign Up
			</button>
		</div>

		<div class="w-full text-center p-t-55">
			<span class="txt2">
				Already a member?
			</span>

			<a href="{% url 'login' %}" class="txt2 bo1">
				Sign in
			</a>
		</div>
	</form>

{% endblock content %}
