{% load static %}

<!DOCTYPE HTML>

<html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<head>
	<title>Community Projects</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="icon" type="image/png" href="{% static 'login/images/icons/donation.png' %}" />
	<link rel="stylesheet" href="{% static 'post/css/main.css' %}" />
	<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

<body class="post is-preload" style="height = 100% ;">
	<div id="page-wrapper">

		{% block nav %}
		<!-- Nav -->

		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" style = "
    margin-bottom: 0px;
">
					<img id="logo" src="{% static 'post/images/logo.png' %}" alt="CommunityProject Logo">

		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		      </button>

		      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
		        <ul class="navbar-nav mr-auto">

		          <li class="nav-item active">
		            <a class="nav-link" href="{% url 'find_post' %}">Find <span class="sr-only">(current)</span></a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{% url 'post' %}">Post</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{% url 'dashboard' %}">DashBoard</a>
							</li>
		        </ul>
		        <form class="form-inline my-2 my-lg-0">
		          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" href="{% url 'logout' %}">>Logout</button>
		        </form>
		      </div>
		    </nav>


		{% endblock nav %}

		{% block banner %}{% endblock %}

		{% block post %}{% endblock %}


		<!-- Main -->

		{% block content %}{% endblock %}

		<!-- Footer -->
		<!-- <section id="footer">
			<div class="container">
				<!-- Copyright -->
				<!-- <div id="copyright">
					&copy; Untitled. All rights reserved.
				</div>
			</div>
		</section> -->

	</div>

	<!-- Scripts -->
	<!-- IMPORTANT: Include jquery before bootstrap -->
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="{% static 'post/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'post/js/jquery.min.js' %}"></script>
	<script src="{% static 'post/js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'post/js/browser.min.js' %}"></script>
	<script src="{% static 'post/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'post/js/util.js' %}"></script>
	<script src="{% static 'post/js/main.js' %}"></script>

</body>

</html>
