{% extends "post/base.html" %}
{% load static %}



<link rel="stylesheet" id="bootstrap-css" href="{% static 'post/css/bootstrap.min.css' %}" />

{% block nav %}
{% with current_page="dashboard" %}
{{ block.super }}
{% endwith %}
{% endblock nav %}



{% block content %}

<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<section id="main">
<div class="container">
<div class="row">
  <div class="col-8 col-12-medium">

    <article class="box post">
      <div class="container">
  	<div class="col-md-5">
          <div class="panel panel-default">
              <div class="panel-body">
                 <section class="post-heading">
                      <div class="row">
                          <div class="col-md-11">
                              <div class="media">
                                <div class="media-left">
                                  <a href="#">
                                    <img class="media-object photo-profile" src="http://0.gravatar.com/avatar/38d618563e55e6082adf4c8f8c13f3e4?s=40&d=mm&r=g" width="40" height="40" alt="...">
                                  </a>
                                </div>
                                <div class="media-body">
                                  <a href="#" class="anchor-username"><h4 class="media-heading">Bayu Darmantra</h4></a>
                                  <a href="#" class="anchor-time">51 mins</a>
                                </div>
                              </div>
                          </div>
                           <div class="col-md-1">
                               <a href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                           </div>
                      </div>
                 </section>
                 <section class="post-body">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                     turpis sem, dictum id bibendum eget, malesuada ut massa. Ut scel
                     erisque nulla sed luctus dapibus. Nulla sit amet mi vitae purus sol
                     licitudin venenatis. Praesent et sem urna. Integer vitae lectus nis
                     l. Fusce sapien ante, tristique efficitur lorem et, laoreet ornare lib
                     ero. Nam fringilla leo orci. Vivamus semper quam nunc, sed ornare magna dignissim sed. Etiam interdum justo quis risus
                     efficitur dictum. Nunc ut pulvinar quam. N
                     unc mollis, est a dapibus dignissim, eros elit tempor diam, eu tempus quam felis eu velit.</p>
                 </section>

              </div>
          </div>
  	</div>
  </div>
    </article>

  </div>
  <div class="col-4 col-12-medium">



    <section class="box">
    						<a href="#" class="image featured"><img src="{% static 'post/images/little.png' %}"  alt="" /></a>
    						<header>
    							<h3>Name Placeholder</h3>
    						</header>


    						<div class="container">
    							<div class="row">
    								<div class="col-md-3 col-sm-6">
    									<div class="progress blue">
    										<span class="progress-left">
    											<span class="progress-bar"></span>
    										</span>
    										<span class="progress-right">
    											<span class="progress-bar"></span>
    										</span>
    										<div class="progress-value">90%</div>
    									</div>
    								</div>

    							</div>
    						</div>
    				</section>
  </div>
</div>
</div>
</section>
{% endblock content %}
