{% extends "post/base.html" %}
{% load static %}

{% block nav %}
{% with current_page="find" %}
{{ block.super }}
{% endwith %}
{% endblock nav %}

{% block banner %}
<!-- Banner -->
<section id="banner" style="
		padding-top: 200px;
    top: 0px;
    position: relative;
    border-top-width: 20px;
    margin-top: 77px;">
	<header class="wrap-login101 p-l-110 p-r-110 p-t-62 p-b-33">
		<h2 id="im">Welcome {{ user.get_username }}!</h2>
		<p id="ip">Discover those who need your help ❤️</p>
	</header>
</section>

{% endblock banner %}

{% block post %}
{% endblock post %}
{% block content %}




<section id="main">
	<div class="container" style=" width: 90% ;">
		<div class="row">
			<div class="col-8 col-12-medium">
				<section>
					<header class="major">
						<h2>Recommended for you</h2>
					</header>

					<form method="GET" style="display: flex; flex-direction: row;">
						<select name="type">
							<option value="any">Any Type</option>
							<option value="tutoring">Tutoring</option>
							<option value="wildlife_conservation">Wildlife Conservation</option>
							<option value="ocean_cleaning">Ocean Cleaning</option>
							<option value="street_cleaning">Street Cleaning</option>
						</select>
						<select name="estimate_hours">
							<option value="any">Any Length</option>
							<option value="<1_hour">Less than 1 hour</option>
							<option value="<3_hours">Less than 3 hours</option>
							<option value="<5_hours">Less than 5 hours</option>
							<option value=">5_hours">More than 5 hours </option>
						</select>
						<select name="work_date">
							<option value="any">Any Time</option>
							<option value="this_week">This week</option>
							<option value="this_month">This month</option>
							<option value="within_3_months">Within 3 months</option>
							<option value="within_6_months">Within 6 months</option>
						</select>
						<br><br>
						<input type="submit" value="Search">
					</form>

					<br />
					<br />

					<div class="container">

						<div class="row">
							{% for post in posts %}
							<div class="col-4 col-6-medium col-12-small">
								<section class="box">
									{% if post.type == 'tutoring' %}
									<a href="#" class="image featured"><img src="{% static 'post/images/work_type/school.jpg' %}" alt="" /></a>
									{% elif post.type == 'wildlife_conservation' %}
									<a href="#" class="image featured"><img src="{% static 'post/images/work_type/tree.jpg' %}" alt="" /></a>
									{% elif post.type == 'construction' %}
									<a href="#" class="image featured"><img src="{% static 'post/images/work_type/construction.jpg' %}" alt="" /></a>
									{% elif post.type == 'ocean_cleaning' %}
									<a href="#" class="image featured"><img src="{% static 'post/images/work_type/ocean.jpg' %}" alt="" /></a>
									{% elif post.type == 'street_cleaning' %}
									<a href="#" class="image featured"><img src="{% static 'post/images/work_type/street.jpg' %}" alt="" /></a>
									{% endif %}
									<header>
										<h3>{{ post.title }}</h3>
									</header>
									<p>
										{% if post.description|length > 210 %}
										{{ post.description|slice:":210" }} ...
										{% else %}
										{{ post.description }}
										{% endif %}
									</p>
									<footer>
										<div class="space-ten"></div>
										<div class="btn-ground text-center">
											<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-{{ post.id }}"><i class="fa fa-search"></i>Quick View</button>
										</div>
									</footer>
								</section>
							</div>
							{% endfor %}

						</div>
					</div>

					{% for post in posts %}
					<div class="modal fade product_view" id="modal-{{ post.id }}">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3 class="modal-title">{{ post.title }}</h3>
									<a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
								</div>
								<div class="modal-body">
									<span style="display: flex; flex-direction: row;">
										<div class="row">
											<div class="col-md-6 product_content">
												<h4>Hosting company: <span>{{ post.company }}</span></h4>
												<h4>Location of the job: <span>{{ post.location }}</span></h4>
												<h4>Estimated hours: <span>{{ post.estimate_hours }}</span></h4>
												<div class="row">
													<p>{{ post.description }}</p>
												</div>
												<div class="space-ten"></div>
												<div class="btn-ground">
													<a href="{% url 'signed_up_post' %}" class="button">Sign up</a>
												</div>
											</div>
										</div>
										{% if post.type == 'tutoring' %}
										<a href="#" class="image featured"><img src="{% static 'post/images/work_type/school.jpg' %}" alt="" /></a>
										{% elif post.type == 'wildlife_conservation' %}
										<a href="#" class="image featured"><img src="{% static 'post/images/maps/hydepark.png' %}" alt="" /></a>
										{% elif post.type == 'construction' %}
										<a href="#" class="image featured"><img src="{% static 'post/images/work_type/construction.jpg' %}" alt="" /></a>
										{% elif post.type == 'ocean_cleaning' %}
										<a href="#" class="image featured"><img src="{% static 'post/images/maps/brighton.png' %}" alt="" /></a>
										{% elif post.type == 'street_cleaning' %}
										<a href="#" class="image featured"><img src="{% static 'post/images/maps/oxford_street.png' %}" alt="" /></a>
										{% endif %}
									</span>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</section>
			</div>
			<div class="col-4 col-12-medium">

				<!-- Sidebar -->
					<section class="box">
						<a href="#" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
						<header>
							<h3>Sed etiam lorem nulla</h3>
						</header>
						<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
						<footer>
							<a href="#" class="button alt">Magna sed taciti</a>
						</footer>
					</section>
					<section class="box">
						<header>
							<h3>Feugiat consequat</h3>
						</header>
						<p>Veroeros sed amet blandit consequat veroeros lorem blandit adipiscing et feugiat sed lorem consequat feugiat lorem dolore.</p>
						<ul class="divided">
							<li><a href="#">Sed et blandit consequat sed</a></li>
							<li><a href="#">Hendrerit tortor vitae sapien dolore</a></li>
							<li><a href="#">Sapien id suscipit magna sed felis</a></li>
							<li><a href="#">Aptent taciti sociosqu ad litora</a></li>
						</ul>
						<footer>
							<a href="#" class="button alt">Ipsum consequat</a>
						</footer>
					</section>

			</div>
		</div>
	</div>
</section>




{% endblock content %}
