{% extends "post/base.html" %}
{% load static %}

{% block nav %}
{% with current_page="find" %}
{{ block.super }}
{% endwith %}
{% endblock nav %}


{% block banner %}
<!-- Banner -->
<section id="banner">
	<header>
		<h2>Welcome {{ user.get_username }} !</h2>
		<p>Discover those who need your help ❤️</p>
	</header>
</section>
{% endblock banner %}


{% block content %}
<div class="row">
	<div class="col-12">

		<!-- Portfolio -->
		<section>
			<header class="major">
				<h2>Recommended for you</h2>
			</header>
			<div class="row">

				{% for post in posts %}

				<div class="col-4 col-6-medium col-12-small">
					<section class="box">
						<a href="#" class="image featured"><img src="#" alt="" /></a>
						<header>
							<h3>{{ post.title }}</h3>
						</header>
						<p>
							{% if post.description|length > 210 %}
							{{ post.description|slice:":210" }} ...
							{% else %}
							{{ post.description }}
							{% endif %}
						</p>
						<footer>
							<ul class="actions">
								<li><a href="#" class="button alt">Find out more</a></li>
							</ul>
						</footer>
					</section>
				</div>

				{% endfor %}

			</div>
		</section>
	</div>
</div>
{% endblock content %}
