{% extends "post/base.html" %}
{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% block nav %}
{% with current_page="find" %}
{{ block.super }}
{% endwith %}
{% endblock nav %}


{% block banner %}
<!-- Banner -->
<section id="banner">
	<header>
		<h2> Welcome Sophia! </h2>
		<p>Discover those who need your help ❤️</p>
	</header>
</section>
{% endblock banner %}


{% block content %}
<div class="row">
	<div class="col-12">

		<!-- Portfolio -->
		<section>
			<header class="major">
				<h2>Recommended for you</h2>
			</header>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->

	<div class="container">
		<div class="row">
			<div class="col-4 col-6-medium col-12-small">
				<section class="box">
					<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
					<header>
						<h3>Ipsum feugiat et dolor</h3>
					</header>
					<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
					<footer>
						<div class="space-ten"></div>
						<div class="btn-ground text-center">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i> Quick View</button>
						</div>

					</footer>

				</section>
			</div>
		</div>
	</div>
	<div class="modal fade product_view" id="product_view">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
									<h3 class="modal-title">Community Work Title</h3>
	                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>

	            </div>
	            <div class="modal-body">
	                <div class="row">

	                    <div class="col-md-6 product_content">
	                        <h4>Location of the job: <span>51526</span></h4>

	                        <div class="row">

														<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
														<!-- end col -->
	                        </div>
	                        <div class="space-ten"></div>
	                        <div class="btn-ground">
	                            <button type="button" class="btn btn-primary"></span> Sign up</button>

	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
		</section>
	</div>
</div>
{% endblock content %}
