{% extends "post/base.html" %}
{% load static %}

{% block nav %}
{% with current_page="post" %}
{{ block.super }}
{% endwith %}
{% endblock nav %}

{% block content %}

<!-- Main -->
<section id="main">
  <div class="container">

    <!-- Content -->
    <article class="box post">

      <div class="container">
        <div class="row">
          <div class="col col-md-2"></div>

          <div class="col col-md-8">
            <form method="POST">
              {% csrf_token %}
              {% for field in form %}
              <div class="fieldWrapper">
                <p>
                  {{ field.errors }}
                  {{ field.label_tag }} {{ field }}
                </p>
              </div>
              {% endfor %}

              <ul class="media-date text-uppercase reviews list-inline">
                <li class="aaaa">
                  <button type="submit" class="btn btn-success">Publish</button>
                </li>
              </ul>
            </form>
          </div>

          <div class="col col-md-2"></div>

        </div>
      </div>

    </article>

  </div>
</section>

{% endblock content %}
