{% extends "post/base.html" %}
{% load static %}

{% block nav %}
{% with current_page="post" %}
{{ block.super }}
{% endwith %}
{% endblock nav %}


{% block content %}
<!-- Main -->
<section id="main">
  <div class="container">

    <!-- Content -->
    <article class="box post">

  <div class="container">
    <div class="row">
   <div class="col col-md-2"></div>
      <div class="col col-md-8">
    <form>
    <div class="form-group required">
      <label for="exampleInputEmail1" class='control-label'>Community Work Title</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ex: Primary School Tutoring">
      <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
    </div>
    <div class="form-group required">
      <label for="exampleInputPassword1" class='control-label'>Location of the job</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ex: 16 Bromell's Rd, London SW4 0BG">

    </div>
    <div class="form-group required">
      <label for="exampleSelect1" class='control-label'>Hours</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ex: 2 hours">
    </div>

    <!-- 
    let today = new Date().toISOString().substr(0, 10);
  	document.querySelector("#today").value = today;

  	document.querySelector("#today2").valueAsDate = new Date();
 -->


  <div class="form-group required">
    <label for="exampleSelect1" class='control-label'>Date of the Community work</label>
    <input id="today" type="date">
  </div>


    <div class="form-group required">
      <label for="exampleTextarea" class='control-label'>Community Work Description</label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>
    <div class="form-group required">
      <label for="exampleInputPassword1" class='control-label'>Posted by (Company Name):</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ex: We Do Good Inc.">
    </div>
    <div class="form-group">
      <label for="exampleInputFile">Company Logo</label>
      <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
      <!--<small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>-->
    </div>
      <ul class="media-date text-uppercase reviews list-inline">
      <!-- <li class="mm"><button type="submit" class="btn btn-primary">Preview</button></li> -->
      <li class="aaaa"><button type="submit" class="btn btn-success">Publish</button></li>
    </ul>
  </form>
  </div>
    <div class="col col-md-2"></div>

  </div>
  </div>

    </article>

  </div>
</section>

{% endblock content %}
